body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(252, 252, 2rgb(255, 255, 255), 27), rgb(247, 247, 247));
    overflow-x: hidden;
    margin: 50px;

    }

.masthead{
    background-size: cover;
    min-height: 100vh;
    position: relative;
    border-radius: 16px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.top-about{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 20px;
    color: rgb(66, 66, 66);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* From https://css.glass */
   
    padding: 20px;
   
    font-size: larger;


    border-top-right-radius:200px;
    border-bottom-right-radius:200px;
    background: rgba(255, 255, 255, 0.19);
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
}


.top-about-heading{
    color: rgb(66, 66, 66);
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 20px;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container{
    margin-top: 0px;
}

@media (max-width: 768px) {
    .masthead{
        min-height: 60vh;
    }
    .img-fluid{
        display: none;
    }
}

.text-services{
    margin: 30px;
    color: rgb(97, 97, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.services{
    margin: 20px;
    color: rgb(61, 61, 61);
    font-size: large;
    margin-bottom: 20px;
    background: rgba(255, 175, 3, 0.979);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    padding: 20px;
    text-align: center;
    
    

}

.services:hover{
   /* From https://css.glass */
background: rgb(255, 123, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
}


.contain{
    background-size: cover;
    min-height: 80vh;
    position: relative;
    border-radius: 16px;
    padding-bottom: 20px;
}

.col-md-12{
    background: rgb(255, 137, 3);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
}

.headings{
    background: rgb(255, 137, 3);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    max-width:400px ;
    
}

.headings:hover{
    /* From https://css.glass */
 color: rgb(221, 221, 221);

 
 backdrop-filter: blur(20px);
 -webkit-backdrop-filter: blur(20px);
 }
